# Chặn các file rác khi build nhân Linux và U-Boot
*.o
*.ko
*.so
*.mod
*.mod.c
*.symtypes
*.order
.tmp_versions/
modules.order
Module.symvers
vmlinux
System.map

# Chặn các file build của U-Boot
u-boot
u-boot.bin
u-boot.map