# SPDX-License-Identifier: GPL-2.0
#
# Sensor BH1750 driver configuration
#

config SENSOR_BH1750
	tristate "ROHM BH1750 ambient light sensor support"
    default n
	depends on I2C
	help
	  Say Y here if you want to support the ROHM BH1750 ambient light sensor.
	  This sensor is commonly used in IoT and embedded projects like Raspberry Pi.

	  To compile this driver as a module, choose M here: the
	  module will be called bh1750.