# SPDX-License-Identifier: GPL-2.0
#
# Sensor Semtech LoRa SX1278 driver configuration
#

config LORA_SX1278
    tristate "Semtech SX1278 LoRa module support"
    default n
    depends on SPI
    help
      Say Y here if you want to support the Semtech SX1278 (Ra-02) LoRa module.
      This module is commonly used for long-range wireless communication.

      To compile this driver as a module, choose M here: the
      module will be called sx1278.